*.pdf
config/brandon3055/ProjectIntelligence
config/brandon3055/ResourceCache

# Instance Sync
**/*.jar
!Cat-Downloader-Legacy*.jar
**/*.jar.disabled
**/*.disabled
**/*.jar.meta
Cat-Downloader.log

# Optional: Generic Modpack Ignores
**/*.log
/.vscode
/logs
/local
/esm
**/*.log.gz
/.mixin.out
/saves
/journeymap
/screenshots
/downloads
/backups
/resourcepacks
/shaderpacks
/crash-reports
/dashloader-cache
options.txt
config/jei/worldSettings.cfg
.curseclient
.rhino.local.properties
usercache.json
usernamecache.json
config/byg/backups/last_working_configs_backup.zip
config/roughlyenoughitems/config.json5
!gtceu*.jar
!Hephaestus*.jar
/emojiful
fancymenu_data/last_world.fmdata
logs/latest.log
logs/rei.log
config/tconstruct-common-1.toml.bak
options.txt
