*.pdf
config/brandon3055/ProjectIntelligence
config/brandon3055/ResourceCache

# Instance Sync
**/*.jar
!Cat-Downloader-Legacy*.jar
**/*.jar.disabled
**/*.disabled
**/*.jar.meta
Cat-Downloader.log

/*
!/config
!/kubejs
!/defaultconfigs
!/.gitignore
!/.gitattributes
!/manifest.json

!/mods/systeams*

/mods/.index

/config/fml.toml
/config/jei/world/local/*
/kubejs/probe
/mods/.connector

/mods/gtceu*

config/fabric/indigo-renderer.properties
config/roughlyenoughitems/pinyin.properties
config/roughlyenoughitems/pinyin_double.properties
config/forge-client.toml
config/trofers/general.json5
config/roughlyenoughitems/config.json5
config/ae2/common.json
config/sidebar_buttons.json
config/oculus.properties
config/modernfix-mixins.properties
config/immediatelyfast.json
config/ftbbackups2.json
config/spark/tmp
config/roughlyenoughitems/hints.json
config/voicechat/username-cache.json
config/minihud/*
config/embeddium-fingerprint.json
config/chiselsandbits-client.toml
config/chiselsandbits-common.toml
config/defaultworldtype/world-presets.txt
config/ae2/client.json
config/jecalculation/record.json
config/voicechat/voicechat-client.properties
config/jade/sort-order.json
config/jei*
options.txt
config/embeddium++.toml
config/embeddium++.toml
